[Unit]
StartLimitIntervalSec=0
Description=Contrail vrouter agent service
After=network.target

[Service]
RestartSec=3s
Type=simple
ExecStart=/usr/bin/contrail-vrouter-agent
ExecStartPre=sh -c /usr/lib/contrail/exec-vrouter-pre-start.sh
ExecStartPost=sh -c /usr/lib/contrail/exec-vrouter-post-start.sh
ExecStopPost=sh -c /usr/lib/contrail/exec-vrouter-post-stop.sh
PIDFile=/var/run/contrail/contrail-vrouter-agent.pid
TimeoutStopSec=0
Restart=always
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=yes
ProtectHome=yes
ReadOnlyDirectories=/
ReadWriteDirectories=-/dev
ReadWriteDirectories=-/run
ReadWriteDirectories=-/var/crashes
ReadWriteDirectories=-/var/lib/contrail
ReadWriteDirectories=-/var/log/contrail
LimitCORE=infinity

[Install]
WantedBy=multi-user.target
