[Unit]
StartLimitInterval=0
Description=Contrail vrouter agent service
BindsTo=
After=network.target

[Service]
RestartSec=3s
Type=simple
ExecStart=/usr/bin/contrail-vrouter-agent
ExecStartPre=/usr/lib/contrail/exec-vrouter-pre-start.sh
ExecStartPost=/usr/lib/contrail/exec-vrouter-post-start.sh
ExecStopPost=/usr/lib/contrail/exec-vrouter-post-stop.sh
TimeoutStopSec=0
Restart=always
ExecStop=/bin/kill -s TERM $MAINPID
LimitCORE=infinity

[Install]
WantedBy=multi-user.target
